ul li {
  list-style: none;
  font-family: Josefin Sans;
}
a {
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.Header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  align-items: end;
  position: absolute;
  left: 60%;
  top: 39%;
}

.ul {
  display: flex;
}
.hero {
  background-image: url("../images/hero-section-bg.png");
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.button1 {
  background-color: #496bf1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}
.button2 {
  background-color: #2dd6c1;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}
.button3 {
  background-color: #496bf1;
  color: #fff;
  border-radius: 5px;
  border: none;
  left: 60%;
}
.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 50px;
  margin-top: 10px;
}
.lucy {
  margin-top: 5em;
  text-align: center;
  color: #496bf1;
  margin-bottom: 2em;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.dot1 {
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  background-color: blue;
  align-items: center;
  justify-content: center;
}

.dot2 {
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  background-color: #2dd6c1;
  align-items: center;
  justify-content: center;
}
.content {
  box-shadow: -1px 0 10px black;
}
.about {
  display: flex;
  text-align: center;
  margin-top: 50px;
  text-align: end;
  height: 6vh;
}
.feedback {
  background-image: url("../images/contact-section-bg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.placeholders {
  margin-left: 10px;
  padding: 25px;
}
.details {
  height: 5vh;
  width: 5px;
}
.text {
  padding-top: 20px;
}
.us {
  font-size: 30px;
  position: absolute;
  left: 70%;
}
.footer-icons {
  display: flex;
  justify-content: space-between;
}

.response {
  text-align: center;
  padding-top: 40px;
}
.main-section {
  text-align: center;
  padding-top: 250px;
}
.quality {
  color: #496bf1;
  padding-bottom: 20px;
  font-size: 35px;
  position: absolute;
  left: 60%;
}
.Tech-care {
  position: absolute;
  left: 60%;
  top: 30%;
}
.img {
  position: absolute;
  left: 40%;
}
.text {
  position: absolute;
  left: 60%;
  width: 40%;
}
span {
  color: #2dd6c1;
}
